<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="{{ site.baseurl }}/favicon.png" type="image/png" />
  <meta charset="UTF-8" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  <a href="{{ site.baseurl }}/" class="back-link">← Back to TowerBans</a>
  <h1>{{ page.title }}</h1>
  <small>{{ page.date | date: "%d %B %Y" }}</small>
  <hr />
  <div class="container">
    <div class="content">
      {{ content }}
    </div>
  </div>

</body>
</html>
